.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(00, 00, 00, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 60000; /* MOREEE!!! MOOOOOREEE!!!! */
}

.modal-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background-image: 
  linear-gradient(#1a1a1a 1px, transparent 1px),
  linear-gradient(90deg, #1a1a1a 1px, transparent 1px);
  background-size: 35px 35px;

  -webkit-mask-image: linear-gradient(to top, black 0%, transparent 100%);
  mask-image: linear-gradient(to top, black 0%, transparent 100%);
}

.modal-content {
  background-color: rgba(34, 34, 34, 0.8);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);     
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 16px 20px;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-header {
  font-family: 'JetBrains Mono', monospace;
  font-size: 16px;
  color: var(--color-text-button);
  text-align: center;
  margin-bottom: 10px;
}

.modal-actions {
  display: flex;
  justify-content: center; 
  gap: 15px;
  margin-top: 10px;
}

.modal-btn {
  flex-shrink: 0;
  min-width: 100px;
}

.modal-preview-wrapper {
  width: 100%;
  height: 140px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #525252;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}