.splatera-radio {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: background-color 0.15s ease, border-color 0.15s ease;
  flex-shrink: 0;
  cursor: pointer;
}

/* Radio-Off */
.splatera-radio:not(.checked) {
  background-color: var(--color-surface);
  border: 1px solid var(--color-text-button);
}

.radio-inner-line {
  width: 2px;
  height: 7px;
  background-color: var(--color-text-button);
}

/* Radio-On */
.splatera-radio.checked {
  background-color: var(--color-accent);
  border: 1px solid var(--color-surface);
}

.radio-inner-circle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 2px solid var(--color-surface);
  background-color: transparent;
  box-sizing: border-box;
}